<h2>My Heroes</h2>

<div>
  <label for="name">Hero name: </label>
  <input type="text" id="name" placeholder="Name" #heroName />
</div>

<button type="button" (click)="addHero(heroName.value); heroName.value = ''">
  Add hero
</button>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>

    <button type="button" class="delete" (click)="deleteHero(hero.id)">
      X
    </button>
  </li>
</ul>
