<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button
      [class.selected]="selectedHero?.id === hero.id"
      (click)="onSelect(hero)"
    >
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>

  <div><span>ID: </span>{{ selectedHero.id }}</div>

  <div>
    <label for="name">Hero name: </label>
    <input
      type="text"
      id="name"
      placeholder="name"
      [(ngModel)]="selectedHero.name"
    />
  </div>
</div>
